.heading {
    text-align: center;
    letter-spacing: 0.5px;
    padding: 15px;
  }
  .CounterContainer {
    width: 20vw;
    border-radius: 8px;
    background-color: rgb(244, 96, 108);
  }
  
  .CounterContainer div {
    text-align: center;
    font-size: 49px;
    font-weight: 600;
    padding: 21px;
    color: white;
  }
  
  .btn {
    padding: 8px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  